body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 33, 43);
    scrollbar-color: var(--vscode-scrollbarSlider-background) transparent;
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    overflow-y: hidden;
    --border-radius-size: 7px;
}
.chat-entry {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--vscode-editor-foreground);
    padding-bottom: 5px;
}
.question, .response {
    padding: 5px;
    margin-bottom: 2px;
}
.question {
    background-color: var(--vscode-editor-selectionBackground);
}
#llmDropdown {
    margin-bottom: 10px;
}
#llmSelect {
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    border: 1px solid var(--vscode-dropdown-border);
    padding: 4px;
    font-family: var(--vscode-font-family);
    outline: none;
    border-radius: var(--border-radius-size);
}
.ask-chat {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: var(--border-radius-size);
}
.ask-chat:hover {
    background-color: var(--vscode-button-hoverBackground);
}
#chat-history {
    margin-bottom: 15px;
    overflow-y: auto;
}
#chat-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
}
#input-area{
    padding: 10px;
    background-color: rgb(0, 41, 53);
}
.code-container-buttons {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
    gap: 5px;
}
.interactive-button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    font-size: var(--vscode-font-size);
}
.interactive-button:hover {
    background-color: var(--vscode-button-hoverBackground);
}
.interactive-button:disabled {
    pointer-events: none;
    opacity: 50%;
    cursor: default;
}
pre code.hljs {
    position: relative;
    display: block;
    padding: 1em;
}
.code-container {
    position: relative;
    display: block;
}
#writeToFileContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.checkbox-button-container-hidden {
    display: none;
}
#outputFileNameInput {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border);
    padding: 3px;
    padding-left: 5px;
    font-family: var(--vscode-font-family);
    margin-left: 5px;
    border-radius: var(--border-radius-size);
}
#outputFileNameInput:disabled {
    display: none;
}
.checkbox-button-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox-button-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-button-label {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    user-select: none;
}
.checkbox-button-input:checked + .checkbox-button-label {
    background-color: var(--vscode-button-hoverBackground);
    color: var(--vscode-button-foreground);
}
.checkbox-button-label:not(:checked) {
    background-color: transparent;
    border: 1px solid var(--vscode-button-background);
    border-radius: var(--border-radius-size);
    color: var(--vscode-button-foreground);
}
#prompt {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--vscode-input-border);
    background-color: var(--vscode-input-background);
    color: #f0e68c;
    padding: 10px;
    margin-bottom: 10px;
    resize:vertical;
    font-family: var(--vscode-font-family);
    border-radius: var(--border-radius-size);
}
#prompt:focus {
  outline: none;
  border-color: var(--vscode-focusBorder);
}
#content {
    max-height: 40vh !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}
.code-header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}
.close-button {
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
    margin: 0;
    line-height: 1;
}
.options-container {
    display: flex;
    gap: 5px;
    align-items: center;
}
#clear-history {
    background-color: transparent;
    color: gray;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
#clear-history:hover {
    color: lightgray
}
.button-styling {
    width: 100%;
}
.button-styling:disabled {
    opacity: 0.5;
    cursor: default;
}
.button-styling:disabled:hover {
    background-color: var(--vscode-button-background);
}
.cancel-response {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--vscode-button-hoverBackground);
    border: 2px solid var(--vscode-button-background);
    border-radius: var(--border-radius-size);
    padding: 5px 10px;
    cursor: pointer;
}
.cancel-response:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
#file-options {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    margin-bottom: 10px;
    max-height: 30vh;
}
.search-item {
    flex: 1;
    padding: 5px;
    white-space: nowrap;
    cursor: pointer;
}
.search-item:focus {
    outline: none;
    background: var(--vscode-input-background);
}
#context-files {
    background-color: rgb(0, 33, 43);
    padding: 10px;
    display: none;
    flex-direction: row;
    gap: 13px;
    margin-bottom: 20px;
    border-radius: var(--border-radius-size);
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
}
#file-mention {
    display: flex;
    flex-direction: row;
    gap: 0px;
    background-color: var(--vscode-input-background);
    border: 2px solid transparent;
    padding: 3px;
    border-radius: var(--border-radius-size);
    align-items: center;
}
#file-mention:hover {
    background-color: rgb(0, 33, 43);
    border: 2px solid var(--vscode-input-background);
    border-radius: var(--border-radius-size);
}
#file-number {
    margin-left: auto;
    margin-right: 3px;
    opacity: 100%;
    padding: 5px;
    border: 2px solid var(--vscode-input-background);
    border-radius: 5px;
    cursor: default;
}
#mode-select {
    margin-bottom: 10px;
    border: 1px solid transparent;
    color: var(--vscode-dropdown-foreground);
    padding: 4px;
    background: var(--vscode-dropdown-background);
    margin-left: auto;
    border-radius: var(--border-radius-size);
    outline: none;
}